*{
    font-size: 1em;
    font-family: 'Newsreader', serif;
    line-height: 1.5;
    text-align: center;
}

body{
    background-color: #BEBEBE;
}

div{
    background-color: aqua;
    max-height: 1000px;
    max-width: 500px;
    min-height: 300px;
    min-width: 150px;
    border-radius: 15%;
    padding:1em;
    margin: 3% auto;
    text-align: justify;
    word-wrap: break-word;
}

hr{
    border: 0.4em dashed coral;
}

ol,
ul{
    list-style:none
}

#list-hobbies{
    background-color: chartreuse;
}

#list-games{
    background-color:gold;
}