*{
    font-size: 1em;
    font-family: 'Newsreader', serif;
    line-height: 1.5;
    text-align: center;
}

body{
    background-color: #BEBEBE;
}

div{
    background-color: aqua;
    max-height: 1000px;
    max-width: 500px;
    min-height: 400px;
    min-width: 200px;
    border-radius: 15%;
    padding:1em;
    margin: 0.8em;
    margin:auto;
}

hr{
    border: 0.4em dashed coral;
}

.footer{
    list-style:none
}